# Config file

date="09_06_2019"

project_root="/ifs/loni/faculty/mbraskie/ADPC/PET"

project_conf="${project_root}/code"

subjectlist="${project_conf}/qualitycontrol/qcsubjects.txt"

referencereg="${project_root}/data/reference_regions.txt"

regionsofinterest="${project_root}/data/corticalregions.txt"

## SGE -------------------------------------------------------

SGE_JOB_NAME=amyloidPET_test
SGE_JOB_OUTPUTS="${project_root}/job_outputs/"

## SGE -------------------------------------------------------

N4="${subj}_N4_brain.nii.gz"

## FSL -------------------------------------------------------

FSLDIR="/usr/local/fsl-5.0.9"
FSLBET="/usr/local/fsl-5.0.9/bin/bet"
FSLMATHS="/usr/local/fsl-5.0.9/bin/fslmaths"
FSLCLUSTER="/usr/local/fsl-5.0.9/bin/cluster"
FSLSTATS="/usr/local/fsl-5.0.9/bin/fslstats"
FSLFLIRT="/usr/local/fsl-5.0.9/bin/flirt"
FSLREOR2STD="/usr/local/fsl-5.0.9/bin/fslreorient2std"
FSLROBUST="/usr/local/fsl-5.0.9/bin/robustfov"
FSLXFM="/usr/local/fsl-5.0.9/bin/convert_xfm"

## ANTS -------------------------------------------------------

IMAGEMATH="/usr/local/ANTs_2.2.0/bin/bin/ImageMath"

## REFERENCE REGION -------------------------------------------------------

REGIONEXTRACT="/ifshome/gprasad/projects/py_code/region_subsets.py"
RRLABEL="/ifs/loni/faculty/mbraskie/HABLE/Scripts/fs_labels/ctx-${rr}.txt"
LABEL="/ifs/loni/faculty/mbraskie/HABLE/Scripts/fs_labels/ctx-${ROI}.txt"

## PATHS -------------------------------------------------------

PET="${project_root}/output"
PET_OUT="${PET}/${subj}/pet_procd"
MPRAGE="/ifs/loni/faculty/mbraskie/ADPC/MPRAGE/${subj}/baseline"
T1="${MPRAGE}/pet_processing"

out="${project_root}/log"
note="${T1}/${subj}_T1_notes.txt"
NOTE="${out}/${subj}_pet_processing_notes.txt"

## DICOM --> NIFTI CONVERSION -------------------------------------------------------

DWNLD="${project_root}/data/DICOM/${subj}"
DIRIN="${project_root}/data/DICOM/${subj}/PET_BRAINFWHM5/*.0/I*"
DIROUT="${PET}/${subj}"

# ROI REGIONS
ROIDIR="${PET_OUT}/roi_analysis"
FSSPACE="${ROIDIR}/fs_space"
T1SPACE="${ROIDIR}/t1_space"
PETSPACE="${ROIDIR}/pet_space"

# DATA OUT
CSV_OUT="${project_root}/data/${date}_corticaldata.csv"
